<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Consulter News Admin</title>
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>
    <link rel="icon" href="../../../../favicon.ico">
    <link href="../../css/editor.css" rel="stylesheet">
    <link href="narrow-jumbotron.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="header clearfix">
        <nav>
            <ul class="nav nav-pills float-right">
                <li class="nav-item">
                    <a class="nav-link active" href="/">Accueil <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/deconnexion">Se déconnecter</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/creer_domaine">Créer domaine</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/ajout_news">Créer une news</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/changer_variable">Changer variable</a>
                </li>
            </ul>
        </nav>
        <h3 class="text-muted">Fake News</h3>
    </div>

    <div class="jumbotron">
        <h1 class="display-3">Bienvenue sur notre site !</h1>
        <p class="lead">Vous pouvez consulter les news selon leurs catégories et mots clefs.</p>
        <p class="lead">PORTAIL ADMINISTRATEUR.</p>
    </div>
</div> <!-- /container -->
<h1 class="text-center">Les news : </h1>
<div class="col-10 m-auto">

    <button class="btn btn-primary w-100 mb-2" type="button" data-toggle="collapse" data-target="#collapse4"
            aria-expanded="false" aria-controls="collapse4">
        Toutes les news
    </button>
    <div class="collapse mb-2" id="collapse4">
        <input id="myInput" type="text" placeholder="Search..">
        <table id="table_news" class="table table-striped">
            <thead>
            <tr>
                <th>Id</th>
                <th>Contenu</th>
                <th>Date</th>
                <th>Etat</th>
                <th>Créateur</th>
                <th>Mot-Clé 1</th>
                <th>Mot-Clé 2</th>
                <th>Mot-Clé 3</th>
                <th>Catégorie</th>
                <th>Modifier Catégorie</th>
                <th>Supprimer</th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="entry : ${news}">
                <tr>
                    <th th:text="${entry.id}"></th>
                    <th th:text="${entry.texte}"></th>
                    <th th:text="${entry.date_creation}"></th>
                    <th th:text="${entry.etat}"></th>
                    <th th:text="${entry.abn}"></th>
                    <th th:text="${entry.mtc1}"></th>
                    <th th:text="${entry.mtc2}"></th>
                    <th th:text="${entry.mtc3}"></th>
                    <th th:text="${entry.dom}"></th>
                    <th><a th:href="|@{/modif_categorie_news?news_id=}${entry.id}|">Modifier Catégorie</a></th>
                    <th><a th:href="|@{/delete_news?id=}${entry.id}|">Supprimer</a></th>
                </tr>
            </th:block>
            </tbody>
        </table>
    </div>

    <button class="btn btn-primary w-100 mb-2" type="button" data-toggle="collapse" data-target="#collapse5"
            aria-expanded="false" aria-controls="collapse5">
        Toutes les news archivées
    </button>
    <div class="collapse mb-2" id="collapse5">
        <input id="myInput2" type="text" placeholder="Search..">
        <table id="table_archive_news" class="table table-striped">
            <thead>
            <tr>
                <th>Id</th>
                <th>Contenu</th>
                <th>Date</th>
                <th>Etat</th>
                <th>Créateur</th>
                <th>Mot-Clé 1</th>
                <th>Mot-Clé 2</th>
                <th>Mot-Clé 3</th>
                <th>Catégorie</th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="entry : ${news_archive}">
                <tr>
                    <th th:text="${entry.id}"></th>
                    <th th:text="${entry.texte}"></th>
                    <th th:text="${entry.date_creation}"></th>
                    <th th:text="${entry.etat}"></th>
                    <th th:text="${entry.abn}"></th>
                    <th th:text="${entry.mtc1}"></th>
                    <th th:text="${entry.mtc2}"></th>
                    <th th:text="${entry.mtc3}"></th>
                    <th th:text="${entry.dom}"></th>
                </tr>
            </th:block>
            </tbody>
        </table>
    </div>

    <button class="btn btn-primary w-100 mb-2" type="button" data-toggle="collapse" data-target="#collapse7"
            aria-expanded="false" aria-controls="collapse7">
        Les news à étudier
    </button>
    <div class="collapse mb-2" id="collapse7">
        <div class="card card-body">
            <div class="deck_news_cat">
                <div class="card-deck">
                    <th:block th:each="news : ${news_study}">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title"><a th:href="|@{/etudier_news/?new_id=}${news.new_id}|"
                                                          th:text="|Etudier News N°${news.new_id}|"></a></h5>
                                <p class="card-text" th:text="${news.new_texte}"></p>
                            </div>
                        </div>
                    </th:block>
                </div>
            </div>
        </div>
    </div>

    <button class="btn btn-primary w-100 mb-2" type="button" data-toggle="collapse" data-target="#collapse8"
            aria-expanded="false" aria-controls="collapse7">
        Domaines à étudier
    </button>
    <div class="collapse mb-2" id="collapse8">
        <div class="card card-body">
            <div class="deck_news_cat">
                <div class="card-deck">
                    <th:block th:each="dom : ${dom_study}">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title"><a th:text="| Etudier Domaine N°${dom.dom_id}|" th:href="|@{/etudier_domaine?domaine_id=}${dom.dom_id}|"></a></h5>
                                <p class="card-text" th:text="${dom.dom_nom}"></p>
                            </div>
                        </div>
                    </th:block>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer">
        <p>© IDMC - M1 Miage : 2021-2022</p>
    </footer>
</div>

<script type="text/javascript" th:src="@{/jquery/jquery.js}"></script>
<script type="text/javascript" th:src="@{/bootstrap/js/bootstrap.js}"></script>
<th:block>
    <script type="application/javascript">
        $(document).ready(function () {
            $("#myInput").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("#table_news tbody tr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
        $(document).ready(function () {
            $("#myInput2").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("#table_archive_news tbody tr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
        $(document).ready(function () {
            $("#myInput3").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("#table_abonne_news tbody tr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>
    <script type="application/javascript">
        document.querySelector("#selectCat").addEventListener("change", function () {
            list = document.querySelectorAll(".deck_news_cat");
            for (var i = 0; i < list.length; ++i) {
                list[i].classList.remove('d-block');
                list[i].classList.add('d-none');
            }
            if (document.querySelector("#selectCat").value !== "none") {
                document.querySelector("#deck_cat_" + document.querySelector("#selectCat").value).classList.remove("d-none");
                document.querySelector("#deck_cat_" + document.querySelector("#selectCat").value).classList.add("d-block");
            }
        })
    </script>
</th:block>
</body>
</html>