<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form class="form-horizontal" method="post" action="#">
    <fieldset>

        <!-- Form Name -->
        <legend>Inscription</legend>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="nom">Saisir nom</label>
            <div class="col-md-4">
                <input id="nom" name="nom" type="text" placeholder="Dupont" class="form-control input-md" required="">

            </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="prenom">Saisir prénom :</label>
            <div class="col-md-4">
                <input id="prenom" name="prenom" type="text" placeholder="Jacques" class="form-control input-md" required="">

            </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="pseudo">Saisir pseudo :</label>
            <div class="col-md-4">
                <input id="pseudo" name="pseudo" type="text" placeholder="xXdupontXx" class="form-control input-md" required="">

            </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="email">Saisir email : </label>
            <div class="col-md-4">
                <input id="email" name="email" type="text" placeholder="dupont.jacques@outlook.com" class="form-control input-md" required="">

            </div>
        </div>

        <!-- Button (Double) -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="submit"></label>
            <div class="col-md-8">
                <button id="submit" name="submit" class="btn btn-success">S'inscrire</button>
                <button id="cancel" name="cancel" class="btn btn-danger">Annuler</button>
            </div>
        </div>

    </fieldset>
</form>

</body>
</html>