<!DOCTYPE html>
<html lang="en">
<head>
    <!-- See configuration in WebMvConfig.java -->
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>
    <meta charset="UTF-8">
    <title>Etudier domaine</title>
</head>
<body>
<div class="container">
    <div class="header clearfix">
        <nav>
            <ul class="nav nav-pills float-right">
                <li class="nav-item">
                    <a class="nav-link active" href="/">Accueil <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/deconnexion">Se déconnecter</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/creer_domaine">Créer domaine</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/ajout_news">Créer une news</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Autres idées ?</a>
                </li>
            </ul>
        </nav>
        <h3 class="text-muted">Fake News</h3>
    </div>
    <div class="container">
        <div class="row marketing">
            <div class="col-lg-6">
                <h5>Nom du domaine</h5>
                <p th:text="${dom_nom}"></p>
                <h5>Etat du domaine</h5>
                <p th:text="${dom_etat}"></p>
            </div>
        </div>
        <form class="form-horizontal" method="post" action="#">
            <fieldset>
                <!-- Form Name -->
                <legend>Etude d'un domaine</legend>

                <!-- Select Basic -->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="statut">Choisissez le statut du domaine</label>
                    <div class="col-md-4">
                        <select id="statut" name="statut" class="form-control">
                            <option value="valide">Valide</option>
                            <option value="non valide">Invalide</option>
                        </select>
                    </div>
                </div>

                <!-- Button -->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="domaineValidation"></label>
                    <div class="col-md-4">
                        <button id="domaineValidation" type="submit" name="validation" class="btn btn-primary">Valider</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>
</body>
</html>