<!DOCTYPE html>
<html lang="en">
<head>
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
    <div class="header clearfix">
        <nav>
            <ul class="nav nav-pills float-right">
                <li class="nav-item">
                    <a class="nav-link active" href="/">Accueil <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/deconnexion">Se déconnecter</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/creer_domaine">Créer domaine</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Autres idées ?</a>
                </li>
            </ul>
        </nav>
        <h3 class="text-muted">Fake News</h3>
    </div>
<form class="form-horizontal" method="post" action="#">
<fieldset>
        <!-- Form Name -->
        <legend>Créer nouveau domaine</legend>
        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="domaine">Saisir domaine :</label>
            <div class="col-md-4">
                <input id="domaine" name="domaine" type="text" placeholder="Politique" class="form-control input-md" required="">
                <span class="help-block">Après validation, un administrateur se chargera de valider votre nom de domaine</span>
            </div>
        </div>
        <!-- Button (Double) -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="submit"></label>
            <div class="col-md-8">
                <button id="submit" name="submit" class="btn btn-success">Ajouter</button>
                <button id="cancel" name="cancel" class="btn btn-danger">Annuler</button>
            </div>
        </div>
    </fieldset>
</form>
</div>
</body>
</html>