<!DOCTYPE html>
<html lang="en">
<head>
    <!-- See configuration in WebMvConfig.java -->
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>
    <meta charset="UTF-8">
    <title>Ajout News</title>
</head>
<body>
<div class="container">
    <div class="header clearfix">
        <nav>
            <ul class="nav nav-pills float-right">
                <li class="nav-item">
                    <a class="nav-link active" href="/">Accueil <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/deconnexion">Se déconnecter</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/creer_domaine">Créer domaine</a>
                </li>
            </ul>
        </nav>
        <h3 class="text-muted">Fake News</h3>
    </div>
    <form class="form-horizontal" method="post" action="#">
        <fieldset>
            <!-- Form Name -->
            <legend>Ajout d'une news</legend>

            <!-- Textarea -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="newTexte">Contenu</label>
                <div class="col-md-4">
                    <textarea class="form-control" id="newTexte" name="texte" placeholder="..." required=""></textarea>
                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="newDomaine">Domaine</label>
                <div class="col-md-4">
                    <input id="newDomaine" name="domaine" type="text" placeholder="..." class="form-control input-md"
                           required="">

                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="newMotClef1">Mot clef 1</label>
                <div class="col-md-4">
                    <input id="newMotClef1" name="motClef1" type="text" placeholder="..." class="form-control input-md"
                           required="">

                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="newMotClef2">Mot clef 2</label>
                <div class="col-md-4">
                    <input id="newMotClef2" name="motClef2" type="text" placeholder="..." class="form-control input-md"
                           required="">

                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="newMotClef3">Mot Clef 3</label>
                <div class="col-md-4">
                    <input id="newMotClef3" name="motClef3" type="text" placeholder="..." class="form-control input-md"
                           required="">

                </div>
            </div>

            <!-- Button -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="newValidation"></label>
                <div class="col-md-4">
                    <button id="newValidation" name="validation" class="btn btn-primary">Valider</button>
                    <button id="newCancel" name="cancel" class="btn btn-danger">Annuler</button>
                </div>
            </div>

        </fieldset>
    </form>
</div>
</body>
</html>