<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<p>Coucou</p>
<div>
    <table>
        <thead>
        <tr>
            <td>Nom</td>
            <td>Prénom</td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user: ${users}">
            <td th:text="${user.abn_nom}"/>
            <td th:text="${user.abn_prenom}"/>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>